.box {
  border: 1px solid green;
  height: 1000px;
  overflow: hidden;
  position: relative;
}

h1, h2, h3 {
  position: absolute;
  margin: 0;
  opacity: 1;
  transition: opacity .1s;
  &.hidden {
    opacity: 0;
  }
  &.fixed {
    position: fixed;
  }
}

.test {
  position: relative;
  top: 400px;
  border: 1px solid red;
  overflow: hidden;
  height: 40px;
}

.second {
  margin-left: 200px;
}

.third {
  margin-left: 400px;
}

.fourth {
  margin-left: 600px;
}

.hero {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid green;
  position: relative;
}

/*body {
  -webkit-perspective: 1000;

   perspective-origin: 50% 50%;
   transform-style: preserve-3d;
   -webkit-backface-visibility: visible;
   -webkit-perspective-origin: 50% 50%;
   -webkit-transform-style: preserve-3d;
}*/

.center {
  left: 300px;
}

.test2 {
  position: relative;
  top: 100px;
  height: 50px;
  border: 1px solid red;
}

.down {
  top: 200px;
}

.el1, .el2, .el3 {
  position: absolute;
}

.el1 {
  top: 100px;
  left: 100px;
}

.el2 {
  top: 300px;
  left: 200px;
}

.el3 {
  top: 20px;
  left: 400px;
}

.el4 {
  top: 0px;
  left: 0px;
}

.test3 {
  position: relative;
  height: 1000px;
  border: 1px solid red;
  width: 100px;
  left: 350px;
  top: 100px;
}

.test4 {
  position: relative;
  height: 100px;
  border: 1px solid red;
  width: 100px;
  left: 250px;
  top: 100px;
}
