body {
  // background-color: black;
}

.midpt {
  position: fixed;
  width: 30px;
  border: 1px solid red;
  top: 50%;
}

.movePos {
  position: absolute;
  width: 30px;
  border: 1px solid blue;
}

.box {
  border: 1px solid green;
  height: 1000px;
  overflow: hidden;
  position: relative;
}

[data-parallax] {
  &.hidden {
    opacity: 0;
  }
  &.fixed {
    position: fixed;
  }
}

h1, h2, h3 {
  position: absolute;
  margin: 0;
}

.test {
  position: relative;
  top: 400px;
  border: 1px solid red;
  overflow: hidden;
  height: 40px;
}

.second {
  margin-left: 200px;
}

.third {
  margin-left: 400px;
}

.fourth {
  margin-left: 600px;
}

.hero {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid green;
  position: relative;
}

/*body {
  -webkit-perspective: 1000;

   perspective-origin: 50% 50%;
   transform-style: preserve-3d;
   -webkit-backface-visibility: visible;
   -webkit-perspective-origin: 50% 50%;
   -webkit-transform-style: preserve-3d;
}*/

.center {
  left: 300px;
}

.test2 {
  position: relative;
  top: 100px;
  height: 50px;
  border: 1px solid red;
}

.down {
  top: 200px;
}

.el1, .el2, .el3 {
  position: absolute;
}

.el1 {
  top: 100px;
  left: 100px;
}

.el2 {
  top: 300px;
  left: 200px;
}

.el3 {
  top: 20px;
  left: 400px;
}

.el4 {
  top: 0px;
  left: 0px;
}

.test3 {
  position: relative;
  height: 1000px;
  border: 1px solid red;
  width: 100px;
  left: 350px;
  top: 100px;
}

.test4 {
  position: relative;
  height: 300px;
  border: 1px solid red;
  width: 100px;
  left: 250px;
  top: 100px;
}

.test5 {
  position: relative;
  height: 100px;
  border: 1px solid red;
  width: 100px;
  left: 450px;
  top: 200px;
}

.mountain, .beach {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
  background-attachment: fixed;
  background-size: cover;
}
.mountain {
  background-image: url('images/mountain.jpg');
}
.beach {
  background-image: url('images/beach.jpg');
}

.birds-container {
  position: relative;
  height: 400px;
  width: 100px;
  top: -600px;
  border: 1px solid red;
}

.birds {
  position: absolute;
  left: 400px;
  height: 400px;
  width: 400px;
  background-image: url('images/birds.gif');
  &.left {
    left: 120px;
  }
}

.cube-container {
  width: 200px;
  height: 200px;
  position: relative;
  // perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  &.fixed {
    position: fixed;
  }
}

#cube div {
  margin: 0;
  width: 196px;
  height: 196px;
  display: block;
  position: absolute;
  border: 2px solid black;
}

#cube .front  { transform: rotateY(   0deg ) translateZ( 100px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 100px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 100px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 100px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 100px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 100px ); }

// #cube .front,
// #cube .back,
// #cube .top,
// #cube .bottom  {
//   border-left: 0;
//   border-right: 0;
//   border-top: 2px solid yellow;
//   border-bottom: 2px solid yellow;
// }

// #cube .right,
// #cube .left   {
//   border: 0;
// }
