.box {
  border: 1px solid green;
  height: 1000px;
  overflow: hidden;
  position: relative;
}

h1 {
  position: absolute;
  margin: 0;
  opacity: 1;
  transition: opacity .1s;
  &.hidden {
    opacity: 0;
  }
  &.fixed {
    position: fixed;
  }
}

.test {
  position: relative;
  top: 400px;
  border: 1px solid red;
  overflow: hidden;
  height: 40px;
}

.second {
  margin-left: 200px;
}

.third {
  margin-left: 400px;
}

.fourth {
  margin-left: 600px;
}
